.home{
	background-image: url("image/top-bg.jpg");
	 background-position: center;
	 background-repeat: no-repeat;
	-webkit-box-shadow: 0px 3px 39px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 39px -8px rgba(0,0,0,0.75);
box-shadow: 0px 3px 39px -8px rgba(0,0,0,0.75);
}
.home-overlay{
	background-color:#0000004f; 
}

/*navbar*/

.custom-navbar .navbar-brand {
	margin-bottom: 20px;
}

@media(min-width: 992px) {
	.custom-navbar .navbar-brand {
		margin-bottom: 0;
	}
}

.custom-navbar .custom-nav-links li{
	margin-right: 10px;
	margin-left: 0;
}
.custom-navbar ul li a{
	color: #fff;
}
.custom-navbar ul li a:hover{
	color: blue;
}
.custom-navbar{
	background-color: #31303078;
	padding: 20px;
}
.nav-divider{
	font-size: 6px;
    color: #fff;
    vertical-align: middle;
}

.social-icon {
	margin-top: 20px;
}

@media(min-width: 992px) {
	.social-icon {
		margin-top: 0;
	}
}

.social-icon ul {
	border-style: solid;
	border-color: #d6d0d063;
	border-width: 1px;
	margin: 0;
	padding: 0;
}

.social-icon li {
	display: inline-block;
	list-style: none;
}

.social-icon li a {
	width: 40px;
	padding: 10px 0;
	display: inline-block;
	text-align: center;
}

.social-icon li a:hover {
	background: #00000059;
}

/*home content*/

.home-content{
	color: #fff;
	padding-top: 200px;
	padding-bottom: 100px;
}
.home-content h1{
	font-size: 90px;
	font-family: 'Alegreya', serif;
}
.home-content h5{
	font-size: 30px;
	font-family: 'Archivo Narrow', sans-serif;
}
.home-button{
	border-style: solid;
	background-color: #31303078;
	border-width: 1.2px;
	border-color: #f9e0b25e;
	display: inline-block;
	padding:15px 70px 15px 70px;
	margin-top: 100px;
}
.home-button a{
	font-size: 20px;
	color: #fff;
}
.home-button a:hover{
	text-decoration: none;
	color: skyblue;
}


/*section1*/

.sec1{
	background-image: url(image/sec1-bg.jpeg);
	background-size: cover;
}
.sec1-left-img{
	height: 120px;
	width: 120px;
	border-radius: 100px;
}
.sec1-left-quote p{
	font-size: 20px;
	color: #bb231bf5;
	display: block;
	font-style: italic;
}
.sec1-left-quote i{
	color: #8080806b;
	display: block;
}
.sec1-right-img{
	width: 100%;
	border-style: solid;
	border-color: #fff;
	border-width: 15px;
}
.sec1 h3{
	font-family: 'Alegreya', serif;
	font-size: 60px;
	letter-spacing: 3px;
}
.sec1 h4{
	font-size: 16px;
	color: #bb231bf5;
}
.sec1 p{
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 0;
}
.sec1 h6{
	font-size: 30px;
	font-family: 'Alegreya', serif;
	margin-top: 40px;
	margin-bottom: 20px;
}
.sec1 h5{
	border-top: 1px solid #8080806b;
	border-bottom: 1px solid #8080806b;
	padding: 10px 0 10px 0;
	color: #524f4fcf;
}


/*section-2*/

.sec2{
	background-image: url("image/sec2.jpg");
	background-position: center;
}
.sec2-shadow {
	-webkit-box-shadow: 2px 17px 66px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 17px 66px 8px rgba(0,0,0,0.75);
	box-shadow: 2px 17px 66px 8px rgba(0,0,0,0.75);
}
.sec2-right {
	background: #fff;
}
.sec2-description {
	background: url('image/sec2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 130px;
    height: 190px;
}
.sec2-left-img {
	background: url('image/sec2a.jpg');
	background-size: cover;
}
.sec2-carousel {
	background-color: #dcdcdc;
	padding: 10px 0;
}
.sec2-carousel {
	overflow: visible;
	position: relative;
}
.sec2-carousel .owl-nav button.owl-prev, .sec2-carousel .owl-nav button.owl-next {
	position: absolute;
    font-size: 20px;
    font-weight: 800;
    top: 33%;
    color: #e48000;
}
.sec2-carousel .owl-prev {
    left: 20px;
}
.sec2-carousel .owl-next {
    right: 20px;
}
.sec2-carousel .border {
	margin: 5px 0;
	border-radius: 100%;
	background-color: #fff;
	padding: 5px;
	display: inline-block;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.sec2-carousel .img-slider .sec2-carousel-img {
	height: 80px;
	width: 80px;
	border-radius: 100%;
	display: inline-block;
}
.sec2-icon li{
	list-style: none;
	display: inline-block;
	color: red;
}
.sec2-png{
	width: 100%;
	background-position: center;
}
.sec2 h3{
	font-size: 20px;
}
.sec2 h4{
	font-size: 15px;
	color: red;
}
.sec2 p{
	font-size: 13px;
}


/*section-3*/

.sec3{
	background-image: url("image/sec3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.sec3 h4{
	font-family: 'Alegreya', serif;
	font-size: 40px;
	color: #fff;
	margin: 0;
}
.sec3 h3{
	font-family: 'Alegreya', serif;
	font-size: 70px;
	color: #fff;
	margin: 0;
}
.sec3 h5{
	color:#c78126;
	font-size:18px;
}
.sec3 p{
	font-size: 18px;
	color: #b1a9a9;
	margin: 0;
}
.sec3 h2{
	font-family: 'Alegreya', serif;
	font-size: 45px;
	color: #d4af57;
}
.sec3 i{
	color: #888383;
}
.sec3-overlay{
	background-color: #1f1e1ead;
}
.sec3-right-img{
	height: 60px;
	width: 60px;
	border-radius: 100px;
	border-width: 5px;
	border-color: gray;
}
.sec3-right{
	border: 1px dashed #c1bfbf;
    outline: 13px solid #ece6e6;
}